<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Aviation Fan Management - Manager</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-inverse indexFont indexNav navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle indexNavBt" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://localhost:9000/">Aviation Fan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:9000/aircraft">Aircraft</a></li>
                <li><a href="http://localhost:9000/airport">Airports</a></li>
                <li><a href="http://localhost:9000/route">Routes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="lrPadding">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-danger navbar-btn fullWide">Sign Out</button>
                    </form>
                </li>
                <li class="active"><a href="/">Management</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container-fluid indexFont topPaddingMuch">
    <div class="row">
        <div class="col-sm-8 topPadding">
            <h3>Add a new manager:</h3>
            <form action="#" th:action="@{/editUser}" th:object="${editUserForm}" method="post">
                <input class="form-control" type="text" required="required" placeholder="Username" th:field="*{username}" /><br />
                <input class="form-control" type="password" required="required" placeholder="Password" th:field="*{password}" /><br />
                <input class="form-control" type="password" required="required" placeholder="Confirm password" th:field="*{password2}" /><br />
                <p>
                    <button type="submit" class="btn btn-primary halfWide">Add</button>
                </p>
            </form>
            <p th:text="${added}"></p>

            <h3>Delete a manager:</h3>
            <form action="#" th:action="@{/editUser}" th:object="${editUserForm}" method="post">
                <p>
                <div class="pre-scrollable">
                    <table class="table-hover fullWide">
                        <tr>
                            <th class="col-md-8">Username</th>
                            <th class="col-md-4">Delete</th>
                        </tr>
                        <tr th:each="user:${users}">
                            <td class="col-md-8" th:text="${user.getUsername()}"></td>
                            <td class="col-md-8"> <input type="radio" th:field="*{deletedId}" th:value="${user.getId()}" required="required"/></td>
                        </tr>
                    </table>
                </div>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary halfWide">Delete</button>
                </p>
            </form>
            <p th:text="${deleted}"></p>
        </div>
        <div class="col-sm-4 topPadding">
            <p><a href="editAircraft" class="btn btn-primary fullWide">Manage aircraft types</a></p>
            <p><a href="editAirport" class="btn btn-primary fullWide">Manage airports</a></p>
            <p><a href="editUser" class="btn btn-primary fullWide">Manage managers</a></p>
            <p><a href="compare" class="btn btn-primary fullWide">Check routes</a></p>
        </div>
    </div>
</div>
<footer class="footer indexFont navbar-fixed-bottom indexFot">
    <div class="container">
        <p class="text-muted topPadding">Aviation Fan (c) 2017</p>
    </div>
</footer>
</body>
</html>