<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Aviation Fan</title>
</head>
<body>
    <ul>
        <li th:each="air:${airs}" th:text="${air}">Aircraft Models</li>
    </ul>

    <p>Add a new aircraft type: <br />
        <form action="#" th:action="@{/aircraft}" th:object="${aircraftForm}" method="post">
            <input type="text" required="required" placeholder="Manufacturer" th:field="*{manufacturer}" />
            <input type="text" required="required" placeholder="Model" th:field="*{model}" />
            <input type="text" required="required" placeholder="Submodel" th:field="*{subModel}" />
            <input type="number" required="required" placeholder="Range(km)" th:field="*{range}" />
            <p>
                <button type="submit">Submit</button>
            </p>
        </form>
    </p>
    <p th:text="${added}"></p>
    <a href="/">Back home</a>
</body>
</html>