.indexNav {
    border-radius: 0;
    background-color: #000000;
    border: 0;
    margin: 0;
}

.indexFont {
    font-family: "Gurmukhi MN";
}

.nav.navbar-nav li a {
    color: #aaaaaa;
}

.nav.navbar-nav a:hover {
    color: #ffffff;
}

.active a{
    background-color: #333333 !important;
}

.indexNavBt {
    border: 0;
}

.navbar-collapse
{
    border: 0 !important;
}

.navbar-inverse .navbar-brand {
    color: #aaaaaa;
}

.indexImg {
    border: 0;
    padding: 0;
    margin: 0;
    height: auto;
    width: 100%;
}

.noBorder {
    border: 0;
    padding: 0;
    margin: 0;
}

.topPadding {
    padding-top: 15px;
}

.fullWide {
    width: 100% !important;
}

.halfWide {
    width: 50% !important;
}

.fullHeight {
    height: 100% !important;
}

.lrPadding {
    padding-right: 15px;
    padding-left: 15px;
}

.topPaddingMuch {
    padding-top: 50px;
    padding-bottom: 45px;
}

.indexFot {
    border-radius: 0;
    background-color: #eeeeee;
    color: #111111;
    border: 0;
    margin: 0;
}

.filllax {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('../img/indexPic.jpg');
    height: 100vh !important;
    padding-top: 50px;
    padding-bottom: 45px;
    margin-bottom: -45px;
    margin-top: -50px;
}
