<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Aviation Fan</title>
</head>
<body>
<ul>
    <li th:each="air:${airs}" th:text="${air}">Airport</li>
</ul>

<p>Add a new airport: <br />
    <form action="#" th:action="@{/airport}" th:object="${airportForm}" method="post">
        <input type="text" required="required" placeholder="IATA Code" th:field="*{iataCode}" />
        <input type="text" required="required" placeholder="City" th:field="*{city}" />
        <input type="text" required="required" placeholder="longitude" th:field="*{longitude}" />
        <input type="text" required="required" placeholder="latitude" th:field="*{latitude}" />
<p>
    <button type="submit">Submit</button>
</p>
</form>
</p>
<p th:text="${added}"></p>
<p>Click <a href="/editAirport">here</a> to edit the airport data.</p>
<p>Click <a href="/">here</a> to go back home.</p>
</body>
</html>