<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Aviation Fan Management</title>
</head>
<body>

<form action="#" th:action="@{/compare}" th:object="${compareForm}" method="post">
    <p>
        <select th:field="*{orgAirportId}">
            <option th:each="air:${airports}" th:text="${air.getAirport()}" th:value="${air.getId()}">Airports</option>
        </select>

        <select  th:field="*{desAirportId}">
            <option th:each="air:${airports}" th:text="${air.getAirport()}" th:value="${air.getId()}">Airports</option>
        </select>

        <select  th:field="*{aircraftId}">
            <option th:each="air:${aircrafts}" th:text="${air.getType()}" th:value="${air.getId()}">Aircraft Model</option>
        </select>
    </p>
    <button type="submit">Submit</button>

</form>
<p th:text="${reachable}"></p>
<p>Click <a href="/">here</a> to go back home.</p>
</body>
</html>