<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Aviation Fan Management - Aircraft</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/style.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
        function fillIn(air) {
            airObj = JSON.parse(air);
            document.getElementById("man").value = airObj.manufacturer;
            document.getElementById("mol").value = airObj.model;
            document.getElementById("sub").value = airObj.submodel;
            document.getElementById("rng").value = airObj.range;
            document.getElementById("cpc").value = airObj.capacity;
        }
    </script>
</head>
<body>
<nav class="navbar navbar-inverse indexFont indexNav navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle indexNavBt" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Aviation Fan</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="http://localhost:9000/">Home</a></li>
                <li><a href="http://localhost:9000/aircraft">Aircraft</a></li>
                <li><a href="#">Airports</a></li>
                <li><a href="#">Routes</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="lrPadding"><form th:action="@{/logout}" method="post">
                    <button type="submit" class="btn btn-danger navbar-btn fullWide">Sign Out</button>
                </form></li>
                <li class="active"><a href="/">Management</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid indexFont topPaddingMuch">
    <div class="row">
        <div class="col-sm-8 topPadding">
            <h3>Add a new aircraft type: </h3>
            <form action="#" th:action="@{/editAircraft}" th:object="${editAircraftForm}" method="post">
                <p>
                <div class="row">
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required="required" placeholder="Manufacturer"
                               th:field="*{manufacturer}"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required="required" placeholder="Model"
                               th:field="*{model}"/>
                    </div>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" required="required" placeholder="Submodel"
                               th:field="*{subModel}"/>
                    </div>
                </div>
                </p>
                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <input type="number" class="form-control" required="required" placeholder="Range(km)"
                               th:field="*{range}"/>
                    </div>
                    <div class="col-sm-6">
                        <input type="number" class="form-control" required="required" placeholder="Capacity(people)"
                               th:field="*{capacity}"/>
                    </div>
                </div>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary halfWide">Add</button>
                </p>
            </form>
            <p th:text="${added}"></p>

            <h3>Delete an aircraft type: </h3>
            <form action="#" th:action="@{/editAircraft}" th:object="${editAircraftForm}" method="post">
                <p>
                <div class="pre-scrollable">
                    <table class="table-hover fullWide">
                        <tr>
                            <th class="col-md-6">Aircraft Type</th>
                            <th class="col-md-2">Range</th>
                            <th class="col-md-2">Capacity</th>
                            <th class="col-md-2">Delete</th>
                        </tr>
                        <tr th:each="air:${airs}">
                            <td class="col-md-6" th:text="${air.getType()}"></td>
                            <td class="col-md-2" th:text="${air.getRange()}"></td>
                            <td class="col-md-2" th:text="${air.getCapacity()}"></td>
                            <td class="col-md-2"><input type="radio" th:field="*{deletedId}" th:value="${air.getId()}"
                                                        required="required"/></td>
                        </tr>
                    </table>
                </div>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary halfWide">Delete</button>
                </p>
            </form>
            <p th:text="${deleted}"></p>

            <h3>Edit an aircraft type: </h3>
            <form action="#" th:action="@{/editAircraft}" th:object="${editAircraftForm}" method="post">
                <div class="pre-scrollable">
                    <table class="table-hover fullWide">
                        <tr>
                            <th class="col-md-6">Aircraft Type</th>
                            <th class="col-md-2">Range</th>
                            <th class="col-md-2">Capacity</th>
                            <th class="col-md-2">Edit</th>
                        </tr>
                        <tr th:each="air:${airs}">
                            <td class="col-md-6" th:text="${air.getType()}"></td>
                            <td class="col-md-2" th:text="${air.getRange()}"></td>
                            <td class="col-md-2" th:text="${air.getCapacity()}"></td>
                            <td class="col-md-2"><input type="radio" th:field="*{editId}" th:value="${air.getId()}"
                                                        required="required" th:onclick="'fillIn(\'' + ${air} + '\')'"/>
                            </td>
                        </tr>
                    </table>
                </div>
                <p>
                <div class="row">
                    <div class="col-sm-4">
                        <input id="man" type="text" class="form-control" required="required" placeholder="Manufacturer"
                               th:field="*{manufacturer}"/>
                    </div>
                    <div class="col-sm-4">
                        <input id="mol" type="text" class="form-control" required="required" placeholder="Model"
                               th:field="*{model}"/>
                    </div>
                    <div class="col-sm-4">
                        <input id="sub" type="text" class="form-control" required="required" placeholder="Submodel"
                               th:field="*{subModel}"/>
                    </div>
                </div>
                </p>
                <p>
                <div class="row">
                    <div class="col-sm-6">
                        <input id="rng" type="number" class="form-control" required="required" placeholder="Range(km)"
                               th:field="*{range}"/>
                    </div>
                    <div class="col-sm-6">
                        <input id="cpc" type="number" class="form-control" required="required" placeholder="Capacity(people)"
                               th:field="*{capacity}"/>
                    </div>
                </div>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary halfWide">Edit</button>
                </p>
            </form>
            <p th:text="${edited}"></p>
            <p id="demo"></p>
        </div>
        <div class="col-sm-4 topPadding">
            <p><a href="editAircraft" class="btn btn-primary fullWide">Manage aircraft types</a></p>
            <p><a href="editAirport" class="btn btn-primary fullWide">Manage airports</a></p>
            <p><a href="editUser" class="btn btn-primary fullWide">Manage managers</a></p>
            <p><a href="compare" class="btn btn-primary fullWide">Check routes</a></p>
        </div>
    </div>
</div>

<footer class="footer indexFont navbar-fixed-bottom indexFot">
    <div class="container">
        <p class="text-muted topPadding">Aviation Fan (c) 2017</p>
    </div>
</footer>
</body>
</html>